body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f3f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 80px auto;
    text-align: center;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
